* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Open Sans';
}

h1 {
  color: rgb(8, 59, 135);
  font-family: Arial;
  font-size: 1em;
}

h2 {

  font-size: 2em;
  text-transform: uppercase;
  color: rgb(0, 110, 157);
}

h3 {
  color: tomato;
}
